{% extends 'baseAdmin.html.twig' %}
{% block title %}AdminCaroussel
{% endblock %}

{% block body %}

	{% block content %}

		<!-- We'll fill this with dummy content -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-text">
			<div class="container">

				<button type="button" id="sidebarCollapse" class="btn btn-info">
					<i class="fas fa-align-left"></i>
					<span>Menu</span>
				</button>
			</div>
		</nav>
	{% endblock %}

	<div class="container">
		<div class="row justify-content-center mt-3">
			<div class=" mt-3 mb-2 bg-white rounded p-center">
				<div>
					<h3>Gestion du carroussel</h3>
				</div>
				<hr>
			</div>
		</div>
		{% if picture %}
			<div class="row mb-5">
				<h4>
					Carroussel actuel :
				</h4>
			</div>
			<div class="row">
				<div id="bs4-multi-slide-carousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="row">
								<div class="col"><img src="{{ asset('uploads/carousel/' ~ picture.0.photo1) }}" class="d-block w-100 h-100" alt="1 slide"></div>
								<div class="col"><img src="{{ asset('uploads/carousel/' ~ picture.0.photo2) }}" class="d-block w-100 h-100" alt="2 slide"></div>
								<div class="col"><img src="{{ asset('uploads/carousel/' ~ picture.0.photo3) }}" class="d-block w-100 h-100" alt="3 slide"></div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col"><img src="{{ asset('uploads/carousel/' ~ picture.0.photo4) }}" class="d-block w-100 h-100" alt="4 slide"></div>
								<div class="col"><img src="{{ asset('uploads/carousel/' ~ picture.0.photo5) }}" class="d-block w-100 h-100" alt="5 slide"></div>
								<div class="col"><img src="{{ asset('uploads/carousel/' ~ picture.0.photo6) }}" class="d-block w-100 h-100" alt="6 slide"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<!-- Carousel d'exemple quand il y a pas de photo -->
			<div class="row">
				<h3></h3>
				<div id="bs4-multi-slide-carousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="row">
								<div class="col"><img src="https://ipsumimage.appspot.com/640x360" class="img-fluid" alt="1 slide"></div>
								<div class="col"><img src="https://ipsumimage.appspot.com/640x360" class="img-fluid" alt="2 slide"></div>
								<div class="col"><img src="https://ipsumimage.appspot.com/640x360" class="img-fluid" alt="3 slide"></div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col"><img src="https://ipsumimage.appspot.com/640x360" class="img-fluid" alt="1 slide"></div>
								<div class="col"><img src="https://ipsumimage.appspot.com/640x360" class="img-fluid" alt="2 slide"></div>
								<div class="col"><img src="https://ipsumimage.appspot.com/640x360" class="img-fluid" alt="3 slide"></div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col"><img src="https://ipsumimage.appspot.com/640x360" class="img-fluid" alt="1 slide"></div>
								<div class="col"><img src="https://ipsumimage.appspot.com/640x360" class="img-fluid" alt="2 slide"></div>
								<div class="col"><img src="https://ipsumimage.appspot.com/640x360" class="img-fluid" alt="3 slide"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		<!-- Le boutton supprimer apparait si il y a un carousel déja existant -->
		{% if picture %}
			<div
				class="row justify-content-center mt-5">
				<!-- Supprimer le carousel -->
				<a href="{{ path('delete_picture_carousel',{'id' : picture.0.id })}}" class="btn btn-danger">Supprimer</a>
			</div>
		{% else %}
			<div class="row mt-5 mb-3 justify-content-center">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<h4 class="alert-heading">Le carrouselle est vide
					</h4>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="card text-white shadow-lg bg-primary mb-3 pr-5 pl-5">
					<div class="card-header">
						<h4 class="text-center">Ajouter vos photos</h4>
					</div>
					<div class="card-body">
						<div class="card-content">
							<div class="row  mb-1 justify-content-center">
								{{ form_start(carousel) }}
								{{ form_row(carousel.photo1,{'attr':{'placeholder':"1"}})}}
								{{ form_row(carousel.photo2,{'attr':{'placeholder':"2"}})}}
								{{ form_row(carousel.photo3,{'attr':{'placeholder':"3"}})}}
								{{ form_row(carousel.photo4,{'attr':{'placeholder':"4"}})}}
								{{ form_row(carousel.photo5,{'attr':{'placeholder':"5"}})}}
								{{ form_row(carousel.photo6,{'attr':{'placeholder':"6"}})}}
								<div class=" row justify-content-center">
									<button type="submit" class='btn btn-success'>Envoyer</button>
								</div>
								{{ form_end(carousel) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</div>{% endblock %}
