{% extends 'base.html.twig' %}
{% block title %}
- Dossier d'inscription
{% endblock %}
{% block body %}
<div class="container">

    {% if documentModele %}
    
    <div class="row justify-content-center mt-3">
        <div class=" mt-3 p-3 mb-2 bg-white rounded p-center">
            <div>
                <h3>DOCUMENTs D'INSCRIPTION </h3>
            </div>
            <hr>
        </div>
    </div>
    
    <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
        <h4 class="alert-heading">Message important !</h4>
        <p>
            Il faut étre pre-inscrit sur le site avant de pouvoir s'inscrire à notre association</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row offset-2 mt5" >
        <div class="col justify-content-center">
            <h5><a class="doc" href="{{ asset('uploads/documentsModele/' ~ documentModele.0.CertificatMedical) }}"><img src="https://img.icons8.com/office/80/000000/folder-invoices.png"></a>Certificat medical(PDF)</h5>
        </div>
        <div class="col justify-content-center">
            <h5><a class="doc" href="{{ asset('uploads/documentsModele/' ~ documentModele.0.DroitImage) }}"><img src="https://img.icons8.com/office/80/000000/folder-invoices.png"></a>Droit d'image(PDF)</h5>
        </div>
    </div>
    <div class="row offset-2">
        <div class="col justify-content-center">
            <h5><a class="doc" href="{{ asset('uploads/documentsModele/' ~ documentModele.0.droitTransport) }}"><img src="https://img.icons8.com/office/80/000000/folder-invoices.png"></a>Droit transport(PDF)</h5>
        </div>
        <div class="col justify-content-center">
            <h5><a class="doc" href="{{ asset('uploads/documentsModele/' ~ documentModele.0.droitPratique) }}"><img src="https://img.icons8.com/office/80/000000/folder-invoices.png"></a>Droit pratique(PDF)</h5>
        </div>
    </div>
    <div class="row offset-2">
        <div class="col justify-content-center">
            <h5><a class="doc" href="{{ asset('uploads/documentsModele/' ~ documentModele.0.droitEntrainement) }}"><img src="https://img.icons8.com/office/80/000000/folder-invoices.png"></a>Droit d'entrainement(PDF)</h5>
        </div>
        <div class="col justify-content-center">
            <h5><a class="doc" href="{{ asset('uploads/documentsModele/' ~ documentModele.0.renseignementsMedicaux) }}"><img src="https://img.icons8.com/office/80/000000/folder-invoices.png"></a>Renseignements médicaux(PDF)</h5>
        </div>
    </div>
    <div class="row offset-2 mb-5">
        <div class="col justify-content-center">
            <h5><a class="doc" href="{{ asset('uploads/documentsModele/' ~ documentModele.0.renseignementsgeneraux) }}"><img src="https://img.icons8.com/office/80/000000/folder-invoices.png"></a>Renseignements Generaux(PDF)</h5>
        </div>
        <div class="col justify-content-center">
            <h5><a class="doc" href="http://www.ffcc.info/336-reglement_de_la_competition_2019-5.html"><img src="https://img.icons8.com/office/80/000000/folder-invoices.png"></a>Réglement de la FFCC (à telecharger)</h5>
        </div>
    </div>

    {% else %}
        <!-- Si les documents vierge sont pas disponible -->
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-12 text-center mt-5 mt-5">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead mt-5"> <h3>Cette page est actuellement pas disponible veuillez nous excuser </h3>  </div>
            </div>
        </div>
        <div class="row text-center  mb-5 mt-5" > 
            <div class="col">
                <a href="{{ path('home') }}" type="button" class="btn"> Retourner à l'accueil</a>
              </div>
        </div>
    {% endif %}
</div>
    
{% endblock %}