{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des événements
{% endblock %}

{% block body %}
	{% block content %}

		<!-- We'll fill this with dummy content -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-text">
			<div class="container">

				<button type="button" id="sidebarCollapse" class="btn btn-info">
					<i class="fas fa-align-left"></i>
					<span>Menu</span>
				</button>
			</div>
		</nav>
	{% endblock %}


	<h3>Liste des événements enregistrés</h3>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Lieu</th>
				<th>Date</th>
				<th>Nombre de participants max</th>
				<th>Niveau requis</th>
				<th>Description</th>
				<th>Categorie</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>

			{% for evenement in evenements %}
				<tr>

					<td>{{ evenement.id }}</td>
					<td>{{ evenement.titre }}</td>
					<td>{{ evenement.lieu }}</td>
					<td>{{ evenement.dateDebut ? evenement.dateDebut|date('d-m-Y') : '' }}</td>
					<td>{{ evenement.nombreParticipantMax }}</td>
					<td>{{ evenement.niveauRequis }}</td>
					<td>{{ evenement.description }}</td>
					<td>{{ evenement.categorie }}</td>
					<td>

						<a class="btn btn-primary mb-1" href="{{ path('evenement_edit', {'id': evenement.id}) }}">
							<i class="far fa-edit"></i>
						</a>

						<a class="btn btn-primary mb-1" href="{{ path('participants', {'id': evenement.id}) }}">

							<i class="far fa-folder-open"></i>
						</a>


						<form method="post" action="{{ path('evenement_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cet événement ?');">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
							<button class="btn btn-primary mb-1">
								<i class="far fa-trash-alt"></i>

							</button>

						</form>

					</td>
				</tr>

			{% else %}

				<tr>
					<td colspan="9">Pas d'enregistrements</td>
				</tr>

			{% endfor %}

		</tbody>
	</table>

	<a class="btn btn-primary" href="{{ path('evenement_nouveau') }}">Créer un nouvel événement</a>
{% endblock %}
