{% extends 'baseAdmin.html.twig' %}

{% block title %}Interface Administration
{% endblock %}

{% block body %}

	{% block content %}

		<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-text">
			<div class="container">
				<button type="button" id="sidebarCollapse" class="btn btn-info">
					<i class="fas fa-align-left"></i>
					<span>Menu</span>
				</button>
				<h3 class="ml-5"></h3>
			</div>
		</nav>
	{% endblock %}

	<!-- debut card accueil Admin -->
	<div class="container mb-5">
		<h1 class="text-center mb-5">Interface Administration</h1>
		<div class="row">
			<div class="col-sm-4">
				<div class="card border-secondary mb-3 mr-3" id="card1" style="width: 18rem ; height:12rem;">
					<div class="card-header">Adhérents</div>
					<div class="card-body text-secondary">
						<a class="card-text" href="{{ path('adherent_index') }} ">
							Accés liste des adhérents
							<br/>
							Accés par dossier par adhérent
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card border-secondary mb-3 mr-3" style="width: 18rem; height:12rem;">
					<div class="card-header">Gestion Agenda</div>
					<div class="card-body text-secondary">
						<p class="card-text">Voir le Calendrier<br/>
							Ajouter un événement<br/>
							Voir les événements</p>


					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card border-secondary mb-3 mr-3" style="width: 18rem; height:12rem;">
					<div class="card-header">Gestions Documents</div>
					<div class="card-body text-secondary">
						<a href="{{ path('admin_documents')}}">Dépôt des documents vierges pour inscription</a>

					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="card border-secondary mb-3 mr-3" style="width: 18rem;height:12rem;">
					<div class="card-header">Gestion de contenu</div>
					<div class="card-body text-secondary">
						<a href="{{ path('admin_texte')}}">Ajouter des sections</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card border-secondary mb-3 mr-3" style="width: 18rem; height:12rem;">
					<div class="card-header">Gestion photos</div>
					<div class="card-body text-secondary">

						<a href="{{ path('admin_gestion_photo')}}">Gestion photos</a><br>
						<a href="{{ path('admin_carousel')}}">Gestion carousel</a>

					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card border-secondary mb-3 mr-3" style="width: 18rem;height:12rem;">
					<div class="card-header">Gestion contacts</div>
					<div class="card-body text-secondary">
						<a href="{{ path('admin_contact')}}">Données de contacts de l'école</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
