<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			Panel administrateur -
			{% block title %}{% endblock %}
		</title>

		{% block stylessheets %}
			<!-- Bootstrap core CSS -->
			<link
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
			<!-- Scrollbar Custom CSS -->
			<link
			rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
			<!-- Our Custom CSS -->
			<link rel="stylesheet" href="/css/styleSidebar.css">
			<link rel="stylesheet" href="/css/customStyleAdmin.css">
			<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
			<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
			<script src="https://kit.fontawesome.com/6e23f45be4.js" crossorigin="anonymous"></script>


		{% endblock %}

	</head>
	<body>

		<div class="wrapper">
			{% block nav %}
				<!-- Sidebar -->
				<nav id="sidebar">
					<div class="sidebar-header">
						<h3>Menu Administration</h3>
					</div>

					<ul class="list-unstyled components">

						<li>
							<a href="{{ path('home')}}">Retour au site
							</a>
						</li>
						<li>
							<a href="accueil">Accueil
							</a>
						</li>
						<li>
							<a href="{{ path('adherent_index')}}">Adhérents</a>
						</li>
						<li>
							<a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestion agenda</a>
							<ul class="collapse list-unstyled" id="pageSubmenu2">
								<li>
									<a href="{{ path('admincalendrier')}}">Voir le calendrier</a>
								</li>
								<li>
									<a href="{{ path('evenement_nouveau')}}">Ajouter un événement</a>
								</li>
								<li>
									<a href="{{ path('evenement_index')}}">Voir les événements</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestion photos</a>
							<ul class="collapse list-unstyled" id="pageSubmenu3">
								<li>
									<a href="{{ path('admin_gestion_photo')}}">Gérer la galerie photo</a>
								</li>
								<li>
									<a href="{{ path('admin_carousel')}}">Gérer le carousel d'accueil</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{{ path('admin_documents')}}">Gestion Documents</a>
						</li>
						<li>
							{# <a href="{{ path('admin_carousel')}} ">Gestion carousel de l'accueil</a> #}
						</li>
						
						<li>
							<a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestion du contenu</a>
							<ul class="collapse list-unstyled" id="pageSubmenu4">
								<li>
									<a href="{{ path('admin_texte') }}">Ajouter une section</a>
								</li>
								<li>
									<a href="{{ path('admin_texte_show_accueil') }}">Voir/supprimer les sections page accueil</a>
								</li>
								<li>
									<a href="{{ path('admin_texte_show_ecole') }}">Voir/supprimer les sections page école</a>
								</li>
							</ul>
						</li>

						<li>
							{# <a>Gestion photos</a> href="{{ path('admin_gestion_photos')}}"  #}
						</li>
						<li>
							<a href="{{ path('admin_contact')}}">Gestion contact</a>
						</li>
					</ul>
				</nav>

			{% endblock %}
			<!-- Page Content -->
			<div id="content" class="container-fluid">

				{% block body %}

				</div>
				<!--  ici page -->
			{% endblock %}

		</div>

		{% block javascripts %}
			<!-- jQuery CDN - Slim version (=without AJAX) -->
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<!-- Popper.JS -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
			<!-- Bootstrap JS -->
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
			<script>
				$(document).ready(function () {
bsCustomFileInput.init()
})
			</script>

			<script src="/js/sidebar.js"></script>

		{% endblock %}

	</body>

</html>
