<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Ecole de raseteurs porte de la Crau -
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/customStyle.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta-3/js/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v5.0"></script>
		<script src="https://kit.fontawesome.com/6e23f45be4.js" crossorigin="anonymous"></script>

	</head>

	<body>

		<header class="container-fluid bg-1">
			<div class="row justify-content-center">
				<a href="{{ path('home') }}"><img class="img-fluid" src="{{ asset('img/banner4.jpg') }}"></a>
			</div>
		</header>
		<nav class="navbar navbar-expand-lg fixed-top sticky-top bg-1 mb-4">
			<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse bg-1" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">

						<a class="nav-link" href="{{ path('home') }}">ACCUEIL</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('ecole') }}">L'ECOLE</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('evenements') }}">EVENEMENTS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('contact') }}">CONTACT</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ path('inscription') }}">S'INSCRIRE</a>
					</li>

					<ul class="navbar-nav ">
						<a class="nav-link dropdown-toggle justify-content-center" href="{{ path('home') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

							<i class="fas fa-user"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right justify-content-center" aria-labelledby="navbarDropdown">


							{% if not app.user %}

								<a class="dropdown-item" href="{{ path('login_adherent') }}">Se connecter</a>

							{% else %}

								{% if is_granted('ROLE_USER') %}

									<a class="dropdown-item" href="{{ path('adherent_profile') }}">Espace adhérent</a>
									<a class="dropdown-item" href="{{ path('logout')}}">Se déconnecter</a>

									{% else %}

								{% endif %}

								{% if is_granted('ROLE_ADMIN') %}

									<a class="dropdown-item" href="{{ path('admin_index') }}">Panel administrateur</a>
									{% else %}

								{% endif %}

							{% endif %}
						</div>
					</ul>
				</ul>
			</div>
		</nav>
	</body>
</html></div></div>{% block body %}{% endblock %}{{ render(controller('App\\Controller\\WebsiteController::footer')) }}{% block javascripts %}<!--scripts--><script src="js/to-top.js"></script><!-- JQuery --><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!-- Bootstrap tooltips --><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script><!-- Bootstrap core JavaScript --><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script><!-- Js pour que le nom du fichier uploadé s'affiche dans l'input --><script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script><script>
$(document).ready(function () {
bsCustomFileInput.init()
})</script><script>
$(document).ready(function () {
$(".dropdown-toggle").dropdown();
});</script>{% endblock %}</body></body></html>
