{% extends 'base.html.twig' %}

{% block body %}


	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
                <div class="card mb-4">
                <div class="card-body">

                <h3 class="card-title text-center"> Crée un nouveau mot de passe </h3>

                    {{ form_start(form) }}

                    {{ form_row(form.email) }}
                    
                     {% for message in app.flashes('error') %}
                     <div class="flash-notice">
                    {{ message }}
                    </div>
                    {% endfor %}

                    {{ form_row(form.password.first,  { 'attr': {'placeholder': 'Au moins 8 caracteres'}}) }}
                    {{ form_row(form.password.second) }}
                    {{ form_row(form.submit) }}

                    {{ form_end(form) }}
    </div>
        </div>
            </div>
                </div>
                </div>
{% endblock %}
