{% extends 'base.html.twig' %}

{% block title %}Changer votre mot de passe{% endblock %}

{% block body %}


	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
                <div class="card mb-4">
                <div class="card-body">

                <h3 class="card-title text-center"> Verification mail et mot de passe reçu </h3>
              

                    {{ form_start(form) }}

                    {{ form_row(form.email,  { 'attr': {'placeholder': 'Saisissez l\'email associé à votre compte.'}}) }}
                  
               {#      {% for message in app.flashes('error') %}
                    <div class="flash-notice">
                    {{ message }}
                    </div>
                    {% endfor %} #}

                    {{ form_row(form.password, { 'attr': {'placeholder': 'Entrez mot de passe reçu'}}) }}
						
                    {% for message in app.flashes('error') %}
                    <div class="flash-notice">
                    {{ message }}
                    </div>
                    {% endfor %}

                    {{ form_row(form.submit) }}

                    {{ form_end(form) }}
                    

    </div>
        </div>
            </div>
                </div>
                </div>

{% endblock %}
